@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --basic-theme: #ff234f;
}

body {
    /* font-family: "PT Serif", serif; */
    overflow-x: hidden;
}

@layer utilities {
    .wrapper {
        @apply max-w-7xl lg:mx-auto p-5 md:px-10 w-full;
    }

    .flex-start {
        @apply flex justify-start items-center;
    }

    .flex-center {
        @apply flex justify-center items-center;
    }

    .flex-between {
        @apply flex justify-between items-center;
    }

    .h1-bold {
        @apply font-medium text-3xl lg:text-4xl;
    }

    .h2-bold {
        @apply font-medium text-2xl lg:text-3xl;
    }

    .h3-bold {
        @apply font-medium text-xl lg:text-2xl;
    }

    .btn-default {
        @apply bg-black text-white px-5 py-2 rounded-md cursor-pointer;
    }

    .btn-link {
        @apply my-5 cursor-pointer underline;
    }

    .card {
        @apply bg-gray-200 p-5 rounded mb-3;
    }

    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        padding: 3px 8px;
        border-radius: 5px;
        /* color: rgb(92, 92, 92); */
    }

    .btn:hover {
        cursor: pointer;
        font-size: 110%;
        color: var(--basic-theme);
        background: #a8a8a82b;
        transform: scale(1.1);
        transition: all 0.35s;
    }

    .title::before {
        position: absolute;
        content: '';
        width: 50%;
        bottom: 0;
        border-bottom: 5px solid var(--basic-theme);
    }

    .title {
        position: relative;
        padding-bottom: 10px;
        /* for before and after */
        display: inline-block;
        font-weight: 600;
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .title::after {
        position: absolute;
        content: '';
        width: 35%;
        bottom: -10px;
        left: 0;
        border-bottom: 5px solid var(--basic-theme);
    }

    .primary-color {
        color: var(--basic-theme);
    }
}